.root {
  flex-grow: 1;
  flex-shrink: 1;
  background-color: #1a171e;
  color: #ffffff;
}
.logo {
  height: 50px;
  display: flex;
  align-items: center;
}
.logoImg {
  width: 50px;
  height: 50px;
}
